/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
app/database/production.sqlite
app/tests/coverage
.vagrant
public/packages
app/config/packages/barryvdh/laravel-debugbar/.gitkeep
app/config/packages/barryvdh/laravel-debugbar/config.php
app/storage/debugbar
yals.sublime-project
yals.sublime-workspace
server.php
.idea/
yals.sublime-workspace
