.mtop {
    margin-top:15px;
}

h1.top_title {
    margin-bottom:50px;
}

.show-user .fa-times {
    font-size:18px;
    color:#b72311;
}

.show-user .fa-edit {
    font-size:18px;
}

.index-item-row .action-items-row
{
    display:none;
}

.action-items-row .fa {
    font-size:17px;
}

.index-item-row:hover .action-items-row  {
    display:block;;
}

.index-item-row:hover {
    background: #e6e6e6;
}